<div class="row col-8">
  <h1><%= @blog.title %></h1>
  <p><%= @blog.created_at %></p>
  <p>内容：<%= @blog.context %></p>
  <% if @blog.avatar.attached? %>
    <%= image_tag @blog.avatar.variant(resize:'640x640').processed %>
  <% end %>
  <!--テキストの改行表示は教科書を確認-->
</div>

<% if user_signed_in? %>
  <%= link_to "ブログを投稿する", new_blog_path %>
<% else %>
  <%= link_to "ブログを投稿するにはログインをしてください", new_user_session_path %>
<% end %>
<br>
<%= link_to 'ブログ一覧をみる', blogs_path %><br>
<%= link_to 'トップページに戻る', root_path %>

