<p id="notice"><%= notice %></p>

<h1>
  <%= @sport.name %>募集一覧　計<%= @sport.microposts.count%>件
</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">ユーザーメールアドレス</th>
      <th scope="col">募集内容</th>
      <th scope="col">開催エリア</th>
    </tr>
  </thead>
  <tbody>
    <% @sport.microposts.each do |micropost| %>
      <tr>
        <td><%= micropost.user.email %></td>
        <td><%= micropost.content %></td>
        <td><%= micropost.prefecture.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>
  <%#= @sport.description %>
</p>

<%= link_to '編集', edit_sport_path(@sport) %>
</br>
<%= link_to 'スポーツ一覧に戻る', sports_path %>
</br>
<%= link_to 'トップページに戻る', root_path %>