<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h4><%= @user.email %></h4>
      <span><%= link_to "募集数", user_path(@user) %></span>
      <span><b>:</b> <%= @user.microposts.count %></span>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="col-md-8">
    <h5><%= @title %></h5>
    <% if @users.any? %>
      <ul class="users">
        <% @users.each do |user| %>
          <li>
            <%= link_to user.email, user %>
            <% if current_user.admin? %> | <%= link_to "削除", user, method: :delete, data: { confirm: "削除しますか？" } %>
  <% end %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>