<% if user_signed_in?%>
ユーザーのメールアドレス：<%= @user.email %><br>

<section class="stats">
  <%= render 'shared/stats' %>
</section>

<%= render 'follow_form' if user_signed_in? %>

募集中一覧 <%= @user.microposts.count %> 件<br>

<div class="card" style="width: 18rem;">
  <ul class="list-group list-group-flush">
    <table>
        <tr>
          <th>募集情報</th>
          <th>エリア</th>
        </tr>
        <% @user.microposts.each do |micropost| %>
          <tr class="list-group-item">
            <td><%= micropost.content %></td>
            <td><%= micropost.prefecture.name %></td>
          </tr>
        <% end %>
    </table>
  </ul>
</div>

<% if current_user == @user%>
  <%= link_to "募集を作成", '#' %><br>
<% end %>

<%= link_to "トップページに戻る", root_path %>

<% end %>
